/* Responsive Styles */

/* Media Query for screens up to 911px */
@media (max-width: 911px) {
    section {
        padding: 30px 0;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 20px;
    }

    /* Navbar */
    .header-scrolled {
        height: auto !important;
    }

    .header_wrapper .navbar-nav {
        text-align: center;
        background-color: var(--bg-dark-blue, #001F3F);
        padding-bottom: 15px;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: 15px;
    }

    /* Banner Wrapper */
    .banner_wrapper {
        min-height: 400px;
        padding: 100px 0;
        background-attachment: scroll;
    }

    /* About */
    .about_wrapper ul.nav-pills {
        width: 100%;
        margin: auto;
    }

    /* Portfolio */
    .portfolio_wrapper .card {
        min-height: 400px;
    }

    /* Interest */
    .interest_wrapper .card {
        min-height: 320px;
    }

    /* Hire Me Section */
    .contact-section {
        text-align: center;
        padding: 40px 20px;
    }

    .contact-info {
        display: flex;
        flex-direction: column; /* Stack items on mobile */
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .contact-info div {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        text-align: center; /* Ensures text is centered */
        width: 100%;
    }
}

/* Media Query for screens up to 767px */
@media (max-width: 767px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 13px;
        line-height: 24px;
    }

    /* Banner */
    .banner_wrapper {
        min-height: 400px;
        padding: 100px 0;
        background-attachment: scroll;
    }

    /* About */
    .about_wrapper ul.nav-pills {
        width: 100%;
        margin: auto;
        border: 0;
    }

    .about_wrapper .nav-link {
        font-size: 13px;
    }

    /* Portfolio */
    .portfolio_wrapper .card {
        min-height: 500px;
    }

    /* Hire Me Section */
    .contact-info {
        gap: 10px;
    }

    .contact-info div {
        font-size: 16px;
        text-align: center; /* Ensures everything is centered */
        width: 100%;
    }
}
